.logo {
  background-image: url('../../../assets/svg/millLogo.svg');

  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -10px;
  top: -46px;
  z-index: 10000;
}
.layers {
  perspective: 500px;
  overflow: hidden;
}
.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotate-y)) rotateY(var(--rotate-x));
  will-change: transform;
}
.liyers__item {
  position: absolute;
  inset: -6vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.liers_1 {
  background-image: url('../../../assets/img/millLayer5opt.png');
  transform: translateZ(-50px);
}
.liers_2 {
  background-image: url('../../../assets/img/millLayer4opt.png');
  transform: translateZ(50px);
  left: calc(var(--move-x) * 1.5);
  bottom: -100px;
}
// .liers_3 {
//   // background-image: url('../../../assets/svg/phonebook.svg');
//   // // background-position: top left;

//   // transform: translateZ(120px);
//   // width: 60%;
//   // height: 100%;
//   // // top: -28%;
//   // // left: 25%;

//   // transform: translateX(50%);
// }
.liers_4 {
  background-image: url('../../../assets/img/millLayer3opt.png');
  transform: translateZ(10px);
  left: calc(var(--move-x) / 5);
  bottom: -140px;
}
.liers_5 {
  background-image: url('../../../assets/img/millLayer2opt.png');
  transform: translateZ(50px);
  left: calc(var(--move-x) / 2.5);
  bottom: -100px;
}
.liers_7 {
  background-image: url('../../../assets/img/millLayer14opt.png');
  transform: translateZ(100px) scale(1.08);
  left: calc(var(--move-x) * 1.8);
  top: -60px;
}
.liers_6 {
  background-image: url('../../../assets/img/millLayer13opt.png');
  transform: translateZ(150px);

  left: calc(var(--move-x) * 2);
  top: -150px;
}
