.formReg {
  margin-top: 80px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 1px solid;
  border-radius: 54px;
  background-color: rgba(243, 137, 15, 0.1);
  backdrop-filter: blur(5px);
}
.hederReg {
  text-align: center;
  font-family: kamerik;
}
.btnReg {
  padding-top: 10px;
  text-align: right;
}
