@font-face {
  font-family: 'BungeeShade';
  src: url('../../fonts/merriweather-regular-italic.woff2');
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  color: black;
  /* background-image: url('../../../assets/svg/phonebook.svg');
  background-repeat: no-repeat;
  background-position: 50% 65%; */
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  /* background-color: teal; */
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
  background: linear-gradient(
    90deg,
    rgba(236, 227, 227, 0) 0%,
    rgba(240, 150, 17, 0.3) 80%
  );
}
.header_text {
  position: absolute;
  margin-left: 240px;
  font-family: BungeeShade;
  font-size: 64px;
  line-height: 0.36em;
  font-weight: 100;
  color: #fff;
  padding-top: 8px;
  padding-left: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transform: translateY(-64%);
}
.header_textShadow {
  position: absolute;
  margin-left: 240px;
  font-family: BungeeShade;
  font-size: 64px;
  line-height: 0.36em;
  font-weight: 100;
  color: rgba(85, 179, 49, 0.781);
  transform: translateY(-64%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
