.container {
  display: flex;
  border: 1px solid;
  /* margin-top: 80px; */
  /* padding-right: 80px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 30px; */
  border: 1px solid;
  border-radius: 54px;
  background-color: rgba(243, 137, 15, 0.1);
  backdrop-filter: blur(5px);
  height: 540px;
  padding-left: 30px;
  padding-right: 30px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  /* width: 500px;
  height: 200px;
  padding: 50px; */
  /* border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(141, 167, 167); */
}
